# =========================
# Dependencies
# =========================
node_modules
**/node_modules

# =========================
# Build outputs
# =========================
.next
**/.next
dist
build
coverage

# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
npm-debug.log*
pnpm-debug.log*

# =========================
# Git
# =========================
.git
.gitignore

# =========================
# OS / Editor
# =========================
.DS_Store

# =========================
# Docker
# =========================
docker-compose.yaml
